name: CI for building Camp

on:
  - push
  - pull_request
  - workflow_dispatch

jobs:
  build:
    strategy:
      matrix:
        os:
          - windows-latest
          - macos-latest
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Setup OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: 5.4.x
      - name: Setup zip
        if: matrix.os == 'windows-latest'
        run: setup-x86_64.exe --root C:\\cygwin --quiet-mode unattended --no-shortcuts --no-startmenu --no-desktop --no-admin --no-version-check --no-write-registry --packages zip
      - name: Build Camp
        run: make zip
